.container {
	max-width: 750px;
}

.btn {
	background-color: rgb(80, 250, 196);
}

.btn:hover,
.btn:active {
	background-color: rgb(61, 227, 111);
	color: #fff;
	transition: all 0.2s;
}

.btn:focus {
	box-shadow: none;
}

.username {
	font-weight: bold;
}

.time {
	font-size: 0.6em;
	color: #9b9b9b;
}